// Mixins in here
.button() {
  padding: 10px 40px 10px 40px;
  font-size: 2rem;
  border-radius: 8px;
  background-color: @button-bg;
  color: white;
}

.button-mobile() {
  padding: 10px 40px 10px 40px;
  font-size: 2rem;
  border-radius: 8px;
  background-color: @button-bg;
  color: white;
}